DATABASE_URL="database_connection_url"
FRONTEND_ORIGIN=frontend_url
PORT = backend_port
PUBLIC_URL=frontend_url
ACCESS_TOKEN_SECRET=access_token_Secret
REFRESH_TOKEN_SECRET=refresh_token_Secret

# MAIL
SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
SMTP_USER=smtp_user
SMTP_PASS=smtp_pass
APP_URL=backend_url
